<div class="topnav" id="myTopnav">
    <a id="active-log" >Log out</a>
    <a routerLink="../news">News</a>
    <a routerLink = "../ticket">My Tickets</a>
    <a>Home</a>
  </div>
  
  
  <div class="bgimg-2">
    <div class="caption">
    <span class="border" style="background-color:transparent;font-size:65px;color: #f7f7f7;">SOME TEXT</span>
    </div>
  </div>
  
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 0px;text-align: justify;">
      
  
      <div class="form_ticket">
        <label for="fname">Arival:</label><br>
        <input type="text" class="input" [(ngModel)]="ticket.arival"><br>
        <label for="lname">Departure:</label><br>
        <input type="text" class="input" [(ngModel)]="ticket.departure"><br>
        <label for="lname">Departure date:</label><br>
        <input type="date" class="date_ticket" id="theDate" [(ngModel)]="ticket.date"><br>
        <label>Children: </label>
        <input type="checkbox" class ="container" [(ngModel)]="ticket.child">
      </div>
    </div>
  </div>
  
  <div class="bgimg-3">
    <div class="caption">
    <button (click)='createTikcet()' class="border">
  ORDER TICKET</button>
    </div>
  </div>
  
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  